 .navbar-brand{
     width: 27%;
     margin-left: -10px;
     padding-left: 2px;
     padding-top: 10px;
}
.nav-bar-1{
    margin-left: 1px;
    padding-left: 2px;
}
#nav-header{
    font-size: 21px;
}
.login100-form{
    padding-top: 44px;
    padding-bottom: 78px;
    margin-bottom: 20px;
}